/*** GLOBAL ***/
html {
    scroll-behavior: smooth;
}

/*** LINK ***/
.active-link {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-decoration-color: #000;
}

/*** Shadow ***/
.shadow {
    box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.66);
}

/*** Animation ***/
@keyframes slideInFromRight {
    0% {
        transform: translateX(120%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slideInFromRight 0.4s ease-out forwards;
}